<% layout('layouts/boilerplate') %>

    <div class="row  my-5">
        <div class="col-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    
                    <h2 class="card-title text-center mb-3">Login</h2>
                    <form action="/login" method="post" class="validated-form" novalidate>

                        <div class="mb-4">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        
                        <div class="mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-dark w-100 my-3">Login</button>

                    </form>
                </div>
            </div>

        </div>
    </div>